<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="userService"
		class="com.quya.service.user.UserServiceImpl"
		autowire="byName">
	</bean>
	
	<bean id="businessmanService"
		class="com.quya.service.businessman.BusinessmanServiceImpl"
		autowire="byName">
	</bean>
</beans>
